@font-face {
    font-family: neon;
    src: url("neon.ttf");
}
@font-face {
    font-family: xo;
    src: url("xofont.otf");
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url("background-image.png");
    background-repeat: repeat;
}
#front-page{
    background-color: #4deeea33;
    border: 0.3rem solid #4deeea;
    box-shadow: 0px 0px 2rem #4deeea;
    font-family: neon;
    font-size: 3.125em;
    text-align: center;
    width: 50%;
    margin:auto;
    margin-top: 10%;
    display: block;
    color: #fb04d7;
}
#front-page input[type="text"]{
    color: royalblue;
    border-radius: 2rem;
    background-color: rgb(252, 228, 207);
}
#front-page input[type="submit"]{
    font-size:0.7em;
    border-radius: 0.2em;
    background-color: #fb04d7;
    box-shadow: 0px 0px 2rem #fb04d7;
    padding: 0.3125em;
    margin-bottom: 0.625em;
}
#player1, #player2{
    font-size: 0.875em;
    padding: 0.25em;
}
#front-page p{
    padding: 0.25em;
}
#game-page{
    display: none;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    height: 100vh;
    overflow: hidden;
}

#board{
    height: 70vh;
    width: 40vw;
    margin:auto;
    font-family: xo;
    font-size: 2rem;
    margin-top: 0em;
    background-color: transparent;
    position: relative;
    top: -8rem;
}
#board>div{
    height: 33.35%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
#board div div{
    background-color: #4deeea33;
    border: 0.1rem solid #4deeea;
    box-shadow: 0px 0px 0.5rem #4deeea;
    width: 33.35%;
    font-size: 3.75em;
    height:100%;
    margin: 0.25rem;
}
 #new{
    font-size: 1.55em;
    background-color: #ff073a33;
    border: 0.1rem solid #ff073a;
    box-shadow: 0px 0px 0.5rem #ff073a;
    color: #fe7792;
    padding: 0.3125em;
    margin: 0em 2.125em;
    position: relative;
    bottom: 5rem;
}
#reset{
    font-size: 1.55em;
    background-color: #ff550733;
    border: 0.1rem solid #ff5507;
    box-shadow: 0px 0px 0.5rem #ff5507;
    color: #fea277;
    padding: 0.3125em;
    margin: 0em 2.125em;
    position: relative;
    bottom: 5rem;
}
/* #board div div:hover{
    background-color:#ab20fd33; 
} */
#score{
    display: flex;
    font-size: 2em;
    text-align: center;
    justify-content: space-between;
    margin: 0px 8rem;
}
#p1-name, #p2-name,#p1-score,#p2-score{
    color: white;
}
#score>div{
    margin-top: 0.3em;
    padding: 1em;
    border-radius: 0.5em;
}
#score>div:nth-child(1){
    background-color: #ff073a33;
    border: 0.1rem solid #ff073a;
    box-shadow: 0px 0px 0.5rem #ff073a;
}
#score>div:nth-child(2){
    background-color: #4deeea33;
    border: 0.1rem solid #4deeea;
    box-shadow: 0px 0px 0.5rem #4deeea;
}
#score>div div:nth-child(2){
    font-size: 2em;
    font-family: xo;
}
#score>div:nth-child(1) div:nth-child(2){
    color: #fe7792;
    text-shadow: 1px 1px 20px #ff073a, 1px 1px 20px #ff073a;
}
#score>div:nth-child(2) div:nth-child(2){
    color: #7777f9;
    text-shadow: 1px 1px 20px #4D4DFF, 1px 1px 20px #4D4DFF;
}
.neon{
    max-height: 100%;
    max-width: 100%;
}
@media only screen and (max-width: 767px){
    #front-page{
        width: 100%;
        font-size: 2em;
        margin-top: 50%;
    }
    #player1, #player2{
        font-size: 0.7em;
    }
    #front-page input[type="submit"]{
        font-size: 1em;
    }
    #board{
        width: 90%;
        height: 50%;
        top: 1.5rem;
    }
    #score{
        margin: 1rem 1rem;
    }
    #score>div{
        padding: 0.5rem;
    }
    #new, #reset{
        bottom: -5rem;
        margin: 0px 1rem;
    }
}
@media only screen and (min-width: 768px) and (max-width:1024px){
    #front-page{
        width: 90%;
        font-size: 4em;
        margin-top: 30%;
    }
}
.hamburger{
    position:absolute;
    left:0px;
    top:0px;
}